.top {
    background-color: #1c4c97;
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    flex-wrap: wrap; 
    overflow: hidden; 
}
.top__nav {
    width: 50%;
    min-width: 895px; 
    flex-grow: 0.2;
}
.top__nav__list {
    list-style: none;
    display: flex;
    gap: 1%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.top__nav__item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 10px 15px;
    transition: color 0.3s ease;
    white-space: nowrap;
    font-weight: bold;
}

.top__icons {
    width: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-shrink: 0; 
}
.top__icons a{
    opacity: 1;
    transition: opacity 0.3s ease;
    &:hover{
        opacity: 0.7;
    } 
}
.x-icon{
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.top-header {
    width: 100%;
    height: 120px;
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
}

/* Логотип */
.top-header__block--logo {
    min-width: 90px;
    width: 10%;
}

.logo__img {
    width: 100px;
    height: 70px;
}

/* Контактний блок */
.top-header__block--contacts {
    min-width: 260px;
    width: 30%;
    text-align: center;
}

.top-header__text {
    font-size: 20px;
    color: rgb(218, 218, 218);
}

.top-header__phone {
    color: rgb(218, 105, 0);
    font-weight: bold;
}

/* Навігація */
.top-header__block--nav {
    width: 60%;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 1%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.nav__item a {
    text-decoration: underline;
    color: rgb(187, 187, 187);
    font-size: 24px;
    padding: 10px 15px;
    transition: color 0.3s ease;
    white-space: nowrap;
    font-weight: bold;
}
body.no-scroll {
    overflow: hidden;
}
.nav__item a:hover {
    color: #ff6600;
}
@media (max-width: 1285px) {
    
    .top {
        display: none;
    }
    .top-header{
        display: none;
    }
    .phone__top__header {
        display: flex;
        width: 100%;
        height: 121px;
        background-color: rgb(39, 39, 39);
        align-items: center; 
        justify-content: space-between; 
        padding: 0 20px;
        
    }

    .phone__top__header__nav-block {
        position: fixed;
        top: 120px;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: calc(100vh - 120px); /* Вся висота екрану */
        background-color: rgb(39, 39, 39);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 20px;
        overflow-y: auto;
        z-index: 1000;
    }
    
    .phone__top__header__nav-block.active {
        display: flex;
    }
    
    
    #burger-menu {
        background: transparent; 
        border: none; 
        padding: 0; 
        cursor: pointer; 
    }

    .phone__top__nav__list {
        list-style: none;
        display: flex;
        flex-direction: column; /* Встановлює вертикальне розташування */
        align-items: center; /* Центрує по горизонталі */
        justify-content: center; /* Центрує по вертикалі */
        gap: 20px; /* Відстань між пунктами */
        height: 100%; /* Заповнює весь доступний простір */
        padding: 0;
        margin: 0;
        text-align: center;
        margin-bottom: 40px;
    } 
    .phone__top__nav__list a{
        color: rgb(218, 218, 218);
        text-decoration: none;
        font-size: 24px;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
    }
    .phone__nav__list {
        list-style: none;
        display: flex;
        flex-direction: column; /* Встановлює вертикальне розташування */
        align-items: center; /* Центрує по горизонталі */
        justify-content: center; /* Центрує по вертикалі */
        gap: 20px; /* Відстань між пунктами */
        height: 100%; /* Заповнює весь доступний простір */
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .phone__nav__item {
        width: 100%;
        text-align: center;
    }
    
    .phone__nav__item a {
        display: block;
        text-decoration: none;
        color: rgb(187, 187, 187);
        font-size: 24px;
        font-weight: bold;
        padding: 10px 15px;
        transition: color 0.3s ease;
    }
    
    .phone__nav__item a:hover {
        color: #ff6600;
    }
    .phone__icons{
        width: auto; 
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-shrink: 0;
        padding: 15px;
    }
    .phone__icons a{
        opacity: 1;
        transition: opacity 0.3s ease;
        &:hover{
            opacity: 0.7;
        } 
    }
    .phone__contacts {
        padding-bottom: 50px;
    }
}






@media (min-width: 1285px) {
    .phone__top__header{
        display: none;
    }
    .phone__top-header__block{
        display: none;
    }    
}
