.main {
    padding-top: 100px;
}
.main__header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.main__header__slogan {
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    transform: scaleX(0.8);
    padding: 40px;
    line-height: 40px;
}
.slash {
    font-size: 65px;
    font-weight: 900;
    color: rgb(28, 76, 151);
}
.main__header p{
    color: rgb(106, 106, 106);
    font-size: 25px;
}


.main__on-sale {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 30px; /* Space between grid items */
    padding: 20px;
}
.main__on-sale__gadget-1,
.main__on-sale__gadget-2,
.main__on-sale__gadget-3,
.main__on-sale__gadget-4,
.main__on-sale__gadget-5,
.main__on-sale__gadget-6,
.main__on-sale__gadget-7,
.main__on-sale__gadget-8 {
    width: 180px;
    min-height: 410px;
    border-radius: 15px;
    background-image: url(../img/logo.svg);
}





@media (max-width: 1320px) {
    .main__header__slogan {
        font-size: 40px;
    }
    .slash {
        font-size: 40px;
    }
    .main__header p{
        font-size: 20px;
    }
}